In [ ]:
# 1.Suma de Dos Números

In [ ]:
# 2.Calcula el Cuadrado de un Número

In [ ]:
# 3.Filtrado de Números Pares

In [ ]:
# 4.Ordenar Lista de Tuplas por Segundo Elemento

In [ ]:
# 5.Elevar al Cuadrado con map

In [ ]:
# 6.Filtrar Palabras por Longitud

In [ ]:
# 7.Calcular el Producto de Todos los Elementos con reduce

In [ ]:
# Ejercicio 
estudiantes = [
    {"nombre": "Juan", "edad": 20, "nota_matematicas": 85, "nota_lenguaje": 78, "ciudad": "Lima"},
    {"nombre": "Ana", "edad": 22, "nota_matematicas": 90, "nota_lenguaje": 92, "ciudad": "Lima"},
    {"nombre": "Luis", "edad": 21, "nota_matematicas": 70, "nota_lenguaje": 85, "ciudad": "Cusco"},
    {"nombre": "Maria", "edad": 20, "nota_matematicas": 88, "nota_lenguaje": 80, "ciudad": "Lima"},
    {"nombre": "Carlos", "edad": 23, "nota_matematicas": 95, "nota_lenguaje": 90, "ciudad": "Arequipa"},
]
# Promedio de Edad
# Promedio de Notas en Matemáticas
# Número de Estudiantes por Ciudad
# Estudiantes con Nota Mayor a 80 en Lenguaje
# Calificación Promedio Total por Estudiante
# Estudiante con la Nota Más Alta en Matemáticas
# Ordenar Estudiantes por Edad

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.11/site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.